<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (players.length > 0) { %>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Reporte:</th>
                        <th scope="col">Equipo:</th>
                        <th scope="col">Sistema Operativo</th>
                        <th scope="col">Procesador</th>
                        <th scope="col">Memoria RAM</th>
                    </tr>
                </thead>
                <tbody>
                    <% players.forEach((player, index) => { %>
                        <tr>
                            <th scope="row"><%= player.id %></th>
                            <td><%= player.first_name %></td>
                            <td><%= player.last_name %></td>
                            <td><%= player.position %></td>
                            <td><%= player.number %></td>
                            <td><%= player.user_name %> GB</td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center"><a href="/player/add" >Registrar</a> <-- Registro.</p>
        <% } %>
    </div>
</div>
</body>
</html>